In [1]:
import pandas as pd

In [51]:
df = pd.read_csv('./dataset/train.csv')

# Change types

In [46]:
df.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken(min)                 object
dtype: object

In [48]:
df['Delivery_person_Age'] = df['Delivery_person_Age'].astype( int )

ValueError: invalid literal for int() with base 10: 'NaN '

In [58]:
linhas_vazias = df[df['Delivery_person_Age'] != 'NaN ']
linhas_vazias

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

# Aula 26

In [3]:
1. Qual o valor da informação armazenada na linha 30 e na coluna 10?
2. Selecione as linhas 0 a 20 e as colunas 0 a 2
3. Seleciona as linhas 5 a 30 e a coluna “Delivery_person_Age”
4. Selecione as linhas 40 a 42 e as seguintes colunas: “Restaurant_latitude”,
“Restaurant_longitude”, "Delivery_location_latitude”,
“Delivery_location_longitude”
5. Qual a menor data de entrega da coluna “Order_Date” entre as linhas 0 a
50?
6. Qual a menor data de entrega da coluna “ Time_Orderd ” entre as linhas
0 a 50?
7. Quais os nomes únicos da coluna “City” entre as linhas 50 e 70?
8. Quais os nomes únicos da coluna “Weatherconditions” entre as linhas 0 e
10?
9. Quais os tipos de densidade de trânsito presente na coluna
“Road_traffic_density ” entre as linhas 0 a 20?
10. Qual o ID do entregador de comida mais velho entre as colunas 50 e 70?
11. Qual o ID do entregador de comida com a melhor avaliação de entrega
entre as colunas 50 e 70?
12. Quais os tipos de veículos utilizados pelos entregadores entre as linhas 0
a 30?
13. Quais os tipos de pedidos único que foram entregues entre as colunas
100 e 120?

SyntaxError: invalid syntax (Temp/ipykernel_1360/2446516751.py, line 1)

## 1. Qual o valor da informação armazenada na linha 30 e na coluna 10?

In [ ]:
df.iloc[30,10]

## 2. Selecione as linhas 0 a 20 e as colunas 0 a 2

In [ ]:
df.iloc[ 0:21 , 0:2 ]

## 3. Seleciona as linhas 5 a 30 e a coluna “Delivery_person_Age”

In [ ]:
pd.DataFrame(df.loc[5:30, "Delivery_person_Age"])

## 4. Selecione as linhas 40 a 42 e as seguintes colunas: 
### “Restaurant_latitude”,
### "Restaurant_longitude”, "Delivery_location_latitude”,
### "Delivery_location_longitude”

In [ ]:
df.loc[40:42, ["Restaurant_latitude", "Restaurant_longitude", "Delivery_location_latitude" , "Delivery_location_longitude"]]

## 5. Qual a menor data de entrega da coluna “Order_Date” entre as linhas 0 a 50?

In [ ]:
min(df['Order_Date'])

## 6. Qual a menor data de entrega da coluna “ Time_Orderd ” entre as linhas 0 a 50?

In [ ]:
min(df.loc[0:50,'Time_Orderd'])

## 7. Quais os nomes únicos da coluna “City” entre as linhas 50 e 70?

In [ ]:
df.loc[50:70, "City"].unique()

## 8. Quais os nomes únicos da coluna “Weatherconditions” entre as linhas 0 e 10?

In [ ]:
list(df.loc[0:10, 'Weatherconditions'].unique())

## 9. Quais os tipos de densidade de trânsito presente na coluna “Road_traffic_density ” entre as linhas 0 a 20?

In [ ]:
list(df.loc[0:20, 'Road_traffic_density'].unique())

## 10. Qual o ID do entregador de comida mais velho entre as colunas 50 e 70?

In [ ]:
df.loc[50:70, ['Delivery_person_ID', 'Delivery_person_Age']].max()

In [ ]:
df.head()

## 11. Qual o ID do entregador de comida com a melhor avaliação de entrega entre as colunas 50 e 70?

In [ ]:
df.loc[50:70, ['Delivery_person_ID', 'Delivery_person_Ratings']].max()

In [ ]:
aux = df.loc[50:70, ['Delivery_person_ID', 'Delivery_person_Ratings']]
aux.sort_values("Delivery_person_Ratings", ascending=False).iloc[0, 0]

## 12. Quais os tipos de veículos utilizados pelos entregadores entre as linhas 0 a 30?

In [ ]:
list(df.loc[0:30, 'Type_of_vehicle'].unique())

## 13. Quais os tipos de pedidos único que foram entregues entre as colunas 100 e 120?

In [ ]:
list(df.loc[100:120, 'Type_of_order'].unique())

# Aula 30

In [4]:
df.head(20)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
5,0x9bb4,HYDRES09DEL03,22,4.8,17.431668,78.408321,17.461668,78.438321,11-03-2022,21:20:00,21:30:00,conditions Cloudy,Jam,0,Buffet,motorcycle,1,No,Urban,(min) 26
6,0x95b4,RANCHIRES15DEL01,33,4.7,23.369746,85.339820,23.479746,85.449820,04-03-2022,19:15:00,19:30:00,conditions Fog,Jam,1,Meal,scooter,1,No,Metropolitian,(min) 40
7,0x9eb2,MYSRES15DEL02,35,4.6,12.352058,76.606650,12.482058,76.736650,14-03-2022,17:25:00,17:30:00,conditions Cloudy,Medium,2,Meal,motorcycle,1,No,Metropolitian,(min) 32
8,0x1102,HYDRES05DEL02,22,4.8,17.433809,78.386744,17.563809,78.516744,20-03-2022,20:55:00,21:05:00,conditions Stormy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 34
9,0xcdcd,DEHRES17DEL01,36,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55:00,22:10:00,conditions Fog,Jam,2,Snack,motorcycle,3,No,Metropolitian,(min) 46
10,0xd987,KOCRES16DEL01,21,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55:00,15:05:00,conditions Stormy,High,1,Meal,motorcycle,1,No,Metropolitian,(min) 23
11,0x2784,PUNERES13DEL03,23,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30:00,17:40:00,conditions Sandstorms,Medium,1,Drinks,scooter,1,No,Metropolitian,(min) 21
12,0xc8b6,LUDHRES15DEL02,34,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20:00,09:30:00,conditions Sandstorms,Low,0,Buffet,motorcycle,0,No,Metropolitian,(min) 20
13,0xdb64,KNPRES14DEL02,24,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50:00,20:05:00,conditions Fog,Jam,1,Snack,scooter,1,No,Metropolitian,(min) 41
14,0x3af3,MUMRES15DEL03,29,4.5,19.176269,72.836721,19.266269,72.926721,02-04-2022,20:25:00,20:35:00,conditions Sandstorms,Jam,2,Buffet,electric_scooter,1,No,Metropolitian,(min) 20
15,0x3aab,MYSRES01DEL01,35,4,12.311072,76.654878,12.351072,76.694878,01-03-2022,14:55:00,15:10:00,conditions Windy,High,1,Meal,scooter,1,No,Metropolitian,(min) 33
16,0x689b,PUNERES20DEL01,33,4.2,18.592718,73.773572,18.702718,73.883572,16-03-2022,20:30:00,20:40:00,conditions Sandstorms,Jam,2,Snack,motorcycle,1,No,Metropolitian,(min) 40
17,0x6f67,HYDRES14DEL01,34,4.9,17.426228,78.407495,17.496228,78.477495,20-03-2022,20:40:00,20:50:00,conditions Cloudy,Jam,0,Snack,motorcycle,NaN,No,Metropolitian,(min) 41
18,0xc9cf,KOLRES15DEL03,21,4.7,22.552672,88.352885,22.582672,88.382885,15-02-2022,21:15:00,21:30:00,conditions Windy,Jam,0,Meal,motorcycle,1,No,Urban,(min) 15
19,0x36b8,PUNERES19DEL02,25,4.1,18.563934,73.915367,18.643935,73.995367,16-03-2022,20:20:00,20:25:00,conditions Sandstorms,Jam,0,Snack,motorcycle,2,No,Metropolitian,(min) 36

## 1. Qual o número total de entregadores cadastrados na base de dados?

In [12]:
df[['Delivery_person_ID']].count()

Delivery_person_ID    45593
dtype: int64

## 2. Qual o número total de entregadores únicos cadastrados na base de dados?

In [13]:
df[['Delivery_person_ID']].nunique()

Delivery_person_ID    1320
dtype: int64

## 3. Qual a idade do entregador mais velho? E do mais novo?

In [44]:
filtered.sort_values(by='Delivery_person_Age', ascending=False)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
8089,0x13a0,JAPRES02DEL01,NaN,NaN,26.914142,75.805704,26.924142,75.815704,07-03-2022,NaN,08:50:00,conditions Sunny,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 18
22192,0x115f,COIMBRES20DEL01,NaN,NaN,10.994136,76.963303,11.004136,76.973303,11-03-2022,NaN,08:30:00,conditions Windy,Low,0,Snack,motorcycle,1,No,Metropolitian,(min) 23
21937,0x6a8,BANGRES07DEL01,NaN,NaN,12.978453,77.643685,13.088453,77.753685,12-03-2022,NaN,22:50:00,conditions Windy,Low,1,Drinks,scooter,1,No,Metropolitian,(min) 13
36857,0x8bf,COIMBRES19DEL01,NaN,NaN,11.022298,76.998349,11.132298,77.108349,10-03-2022,17:35:00,17:50:00,conditions Fog,Medium,1,Meal,motorcycle,0,No,Urban,(min) 30
36854,0x465,CHENRES06DEL02,NaN,NaN,-13.054347,-80.257221,13.104347,80.307221,01-04-2022,NaN,17:50:00,conditions NaN,NaN,3,Meal,electric_scooter,0,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26917,0x6e0,CHENRES06DEL03,15,1,13.054347,80.257221,13.114347,80.317221,01-03-2022,NaN,18:20:00,conditions NaN,NaN,3,Meal,electric_scooter,1,No,Urban,(min) 21
10900,0x1b49,MUMRES14DEL02,15,1,19.181300,72.836191,19.231300,72.886191,30-03-2022,NaN,20:55:00,conditions NaN,NaN,3,Buffet,motorcycle,1,No,Metropolitian,(min) 39
23035,0x415,VADRES17DEL01,15,1,0.000000,0.000000,0.070000,0.070000,29-03-2022,NaN,00:00:00,conditions NaN,NaN,3,Snack,scooter,0,No,Urban,(min) 27
16462,0xe4c,MYSRES05DEL03,15,1,12.323978,76.627961,12.413978,76.717961,27-03-2022,NaN,20:00:00,conditions NaN,NaN,3,Meal,electric_scooter,0,No,Urban,(min) 24
22291,0x3ed,RANCHIRES09DEL01,15,1,-23.351058,-85.325731,23.421058,85.395731,27-03-2022,NaN,21:35:00,conditions NaN,NaN,3,Buffet,electric_scooter,2,Yes,Metropolitian,(min) 44

In [43]:
filtered = df[~df['Delivery_person_Age'].isna()]

In [45]:
df.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken(min)                 object
dtype: object